body {
  /*background-image: url("assets/menuScreen.png");*/
  background-size: 100vw 100vh;
}

/* button styling */
.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  margin: .5vw;
  background-color: rgba(0,0,0,0);
  font-size: 2vw;
  font-family: 'Ewert';
  font-weight: normal;
  border-color: gray;
  border-right: rgba(0,0,0,0); 
  border-left: rgba(0,0,0,0);
  border-top: rgba(0,0,0,0);
  border-bottom-width: .4vw;
  border-radius: .3vw; 
}
.button:hover {
  border-color: gold;
  font-weight: bolder;
}

/* title text styles */
#title {
  margin: 6vw;
  margin-bottom: 3vw;
  /*background-color: rgba(51,26,0,0);*/
  /*background-color: rgba(255,255,255,0.5);*/
  background-color: rgba(255,255,255,0.5);
  border-color: rgba(64,47,18,1);
  border-style: inset;
  border-width: .75vw;
  font-size: 7vw;
  font-family: 'Ewert', 'Actor';
  font-style: bold;
  text-align: center;
  font-weight: bolder;
}