/* gradient background */
body {
  background-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0), rgba(0,0,0,1))
}

/* button styling */
.buttonWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
#title {
  padding: 6vw;
  background-color: rgba(0,0,0,0);
  font-size: 4vw;
  font-family: 'Actor';
  font-style: bold;
  text-align: center;
  font-weight: bolder;
}
.button {
  padding-top: 2vw;
  background-color: rgba(0,0,0,0);
  font-size: 3vw;
  font-family: lato;
  font-style: bold;
  border-color: black;
  border-right: rgba(0,0,0,0); 
  border-left: rgba(0,0,0,0);
  border-top: rgba(0,0,0,0);
  border-bottom-width: .3vw;
  border-radius: .5vw; 
}
.button:hover {
  border-color: white;
  font-weight: bold;
}
